<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {{#if title}}
    <title>{{ title }}</title>
    {{else}}
    <title>SciBase | OPRS</title>
    {{/if}}
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="javascripts/html5shiv.js"></script>
      <script src="javascripts/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">
    <script type="text/javascript">
        var switchTo5x = true;
    </script>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <style type="text/css">
        :root #header + #content > #left > #rlblock_left {
            display: none !important;
        }
    </style>
</head>
<!--/head-->

<body>

    {{{body}}}

    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/wow.min.js"></script>
</body>

</html>
