
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/responsive.css" rel="stylesheet">

<div id="login_page">
    <header id="header">

        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="http://pesitsouthscibase.org">
                        <h1><img src="/images/logo.png" alt="logo"></h1>
                    </a>

                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://pesitsouthscibase.org">Home</a></li>
                        <li><a href="/public_articles">Public Articles</a></li>
                        <li><a href="#">User Articles</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>  
                </div>
               <div class="search">

                        <i class="fa fa-search"></i>
                 <!--   <form role="form">
                        <i class="fa fa-search"></i>
                        <div class="field-toggle" style="display:none">
                            <input class="search-form" autocomplete="off" placeholder="Search" type="text">
                        </div>
                    </form> -->
                </div>
            </div>
        </div>
    </header>
    <!--/#header-->

    <section id="page-breadcrumb">
  	<div class="vertical-center sun">
	    <div class="container">
	       <div class="row">
	       	   <div class="action">
		      <div class="col-sm-12 text-center">
		         <h1 class="title">SciBase OPRS</h1>
			 <h3>LOGIN</h3>
			 <p></p>
		     </div>
		   </div>
	       </div>
	    </div>
	 <div>
    </section>

    <section id="login-details">
      <div class="col-sm-12 text-center">
	<form action="/login" method="POST">
	  <div class="group">
	    <input type="text" name="username" id="username"><span class="highlight"></span><span class="bar"></span>
	    <label>Username</label>
	  </div>
	  <div class="group">
	    <input type="password" name="password" id="password"><span class="highlight"></span><span class="bar"></span>
	    <label>Password</label>
	  </div>
	  <button type="submit" class="button login_button buttonBlue">LOGIN
	    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
	  </button>
	  <div class="sign_up">
	  	<a href="/register">Don't have an account? Click here to sign up.</a>
	  </div>
	</form>
	{{#if message}}
		{{ message }}
	{{/if}}
       </div>
     </section>
</div>
