    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/responsive.css" rel="stylesheet">
<div id="register_page">
    <header id="header">

        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="http://sahascibase.org">
                        <h1><img src="/images/logo.png" alt="logo"></h1>
                    </a>

                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://sahascibase.org">SciBase Home</a></li>
                        <li><a href="/">OPRS Home</a></li>
                        <li><a href="/public_articles">Public Articles</a></li>
                        <li><a href="#">User Articles</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>  
                </div>
               <div class="search">

                        <i class="fa fa-search"></i>
                 <!--   <form role="form">
                        <i class="fa fa-search"></i>
                        <div class="field-toggle" style="display:none">
                            <input class="search-form" autocomplete="off" placeholder="Search" type="text">
                        </div>
                    </form> -->
                </div>
            </div>
        </div>
    </header>
    <!--/#header-->

    <section id="page-breadcrumb">
  	<div class="vertical-center sun">
	    <div class="container">
	       <div class="row">
	       	   <div class="action">
		      <div class="col-sm-12 text-center">
		         <h1 class="title">SciBase OPRS</h1>
			 <h3>REGISTER</h3>
			 <p></p>
		     </div>
		   </div>
	       </div>
	    </div>
	 <div>
    </section>

    <section id="register-details">
      <div class="col-sm-12 text-center">
	<form action="/register" method="POST">
	  <div class="group">
	    <input type="text" name="first_name" id="firstName"><span class="highlight"></span><span class="bar"></span>
	    <label>First Name</label>
	  </div>
	  <div class="group">
	    <input type="text" name="last_name" id="lastName"><span class="highlight"></span><span class="bar"></span>
	    <label>Last Name</label>
	  </div>
	  <div class="group ui-widget">
	    <input type="text" name="university" id="universityInput"><span class="highlight"></span><span class="bar"></span>
	    <label>University</label>
	  </div>
	  <div class="group">
	    <input type="text" name="department" id="departmentInput"><span class="highlight"></span><span class="bar"></span>
	    <label>Department</label>
	  </div>
	  <div class="group">
	    <input type="email" name="email" id="emailInput"><span class="highlight"></span><span class="bar"></span>
	    <label>Email</label>
	  </div>
	  <div class="group">
	    <input type="text" name="username" id="usernameInput"><span class="highlight"></span><span class="bar"></span>
	    <label>Username</label>
	  </div>
	  <div class="group">
	    <input type="password" name="password" id="passwordInput"><span class="highlight"></span><span class="bar"></span>
	    <label>Password</label>
	  </div>
	  <div class="group">
	    <input type="password" name="confirm_password" id="reconfirmInput"><span class="highlight"></span><span class="bar"></span>
	    <label>Confirm Password</label>
	  </div>
	  <div class="err"></div>
	  <button type="submit" class="button buttonBlue">Register
	    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
	  </button>
	  <div class="sign_up">
	  	<a href="/login">Already have an account? Click here to login.</a>
	  </div>
	</form>
	{{#if info}}
		{{ info }}
	{{/if}}
      </div>
     </section>
</div>
